/* Arquivo gerado automaticamente por UAI Design System */
html[data-theme="heineken"], html:not([data-theme]) {
  --uai-border-radius-avatar: 0.125rem;
  --uai-border-radius-badge: 0rem;
  --uai-border-radius-blockcontent: 0rem;
  --uai-border-radius-button: 0rem;
  --uai-border-radius-button-icon: 0rem;
  --uai-border-radius-card: 0rem;
  --uai-border-radius-check: 0.125rem;
  --uai-border-radius-drawer: 0.5rem;
  --uai-border-radius-dropdown: 0rem;
  --uai-border-radius-editor: 0.125rem;
  --uai-border-radius-file-attachment: 0rem;
  --uai-border-radius-input: 0rem;
  --uai-border-radius-large: 1rem;
  --uai-border-radius-medium: 0.5rem;
  --uai-border-radius-modal: 0rem;
  --uai-border-radius-none: 0rem;
  --uai-border-radius-pill: 62.5rem;
  --uai-border-radius-small: 0.25rem;
  --uai-border-radius-tab: 0rem;
  --uai-border-radius-text-area: 0rem;
  --uai-border-radius-toasty: 0rem;
  --uai-border-width-hairline: 0.0625rem;
  --uai-border-width-none: 0rem;
  --uai-border-width-thick: 0.25rem;
  --uai-border-width-thin: 0.125rem;
  --uai-outline-width-hairline: 0.0625rem;
  --uai-outline-width-none: 0rem;
  --uai-outline-width-thick: 0.25rem;
  --uai-outline-width-thin: 0.125rem;
  --uai-colors-alert-100: 255 248 204;
  --uai-colors-alert-200: 255 238 153;
  --uai-colors-alert-300: 255 226 103;
  --uai-colors-alert-400: 255 215 65;
  --uai-colors-alert-500: 255 196 2;
  --uai-colors-alert-600: 219 163 1;
  --uai-colors-alert-700: 183 132 1;
  --uai-colors-alert-800: 147 102 0;
  --uai-colors-alert-900: 122 82 0;
  --uai-colors-background-contrast-brand: 103 11 128;
  --uai-colors-background-contrast-critical: 13 214 128;
  --uai-colors-background-contrast-disable: 215 217 216;
  --uai-colors-background-contrast-focus: 49 210 128;
  --uai-colors-background-contrast-idle: 242 241 16;
  --uai-colors-background-contrast-soft: 242 241 32;
  --uai-colors-background-contrast-soft-critical: 253 205 234;
  --uai-colors-background-contrast-soft-success: 225 248 209;
  --uai-colors-background-contrast-soft-warning: 255 248 204;
  --uai-colors-background-contrast-success: 119 26 128;
  --uai-colors-background-contrast-warning: 196 2 128;
  --uai-colors-background-main-brand: 19 103 11;
  --uai-colors-background-main-brand-hover: 8 88 8;
  --uai-colors-background-main-critical: 222 13 214;
  --uai-colors-background-main-dark: 24 26 25;
  --uai-colors-background-main-disable: 215 217 216;
  --uai-colors-background-main-focus: 25 49 210;
  --uai-colors-background-main-idle: 255 255 255;
  --uai-colors-background-main-secondary: 187 188 189;
  --uai-colors-background-main-soft: 240 242 241;
  --uai-colors-background-main-success: 35 119 26;
  --uai-colors-background-main-warning: 255 196 2;
  --uai-colors-black: 0 0 0;
  --uai-colors-border-contrast-disable: 177 178 178;
  --uai-colors-border-contrast-focus: 162 177 250;
  --uai-colors-border-contrast-hover: 202 204 203;
  --uai-colors-border-contrast-idle: 240 242 241;
  --uai-colors-border-main-brand: 19 103 11;
  --uai-colors-border-main-brand-hover: 8 88 8;
  --uai-colors-border-main-critical: 222 13 214;
  --uai-colors-border-main-disable: 177 178 178;
  --uai-colors-border-main-focus: 25 49 210;
  --uai-colors-border-main-hover: 73 77 75;
  --uai-colors-border-main-idle: 202 204 203;
  --uai-colors-border-main-secondary: 187 188 189;
  --uai-colors-border-main-success: 35 119 26;
  --uai-colors-border-main-warning: 255 196 2;
  --uai-colors-content-contrast-critical: 253 205 234;
  --uai-colors-content-contrast-disable: 177 178 178;
  --uai-colors-content-contrast-focus: 208 216 252;
  --uai-colors-content-contrast-idle: 255 255 255;
  --uai-colors-content-contrast-success: 225 248 209;
  --uai-colors-content-contrast-warning: 255 248 204;
  --uai-colors-content-main-brand: 19 103 11;
  --uai-colors-content-main-brand-hover: 8 88 8;
  --uai-colors-content-main-critical: 222 13 214;
  --uai-colors-content-main-disable: 177 178 178;
  --uai-colors-content-main-focus: 25 49 210;
  --uai-colors-content-main-paragraphy: 109 115 112;
  --uai-colors-content-main-placeholder: 202 204 203;
  --uai-colors-content-main-secondary: 187 188 189;
  --uai-colors-content-main-success: 35 119 26;
  --uai-colors-content-main-tittle: 24 26 25;
  --uai-colors-content-main-warning: 255 196 2;
  --uai-colors-focus-100: 208 216 252;
  --uai-colors-focus-200: 162 177 250;
  --uai-colors-focus-300: 113 133 241;
  --uai-colors-focus-400: 77 98 227;
  --uai-colors-focus-500: 25 49 210;
  --uai-colors-focus-600: 18 37 180;
  --uai-colors-focus-700: 12 26 151;
  --uai-colors-focus-800: 7 18 121;
  --uai-colors-focus-900: 4 12 100;
  --uai-colors-mono-100: 240 242 241;
  --uai-colors-mono-200: 215 217 216;
  --uai-colors-mono-300: 202 204 203;
  --uai-colors-mono-400: 177 178 178;
  --uai-colors-mono-500: 161 166 163;
  --uai-colors-mono-600: 109 115 112;
  --uai-colors-mono-700: 73 77 75;
  --uai-colors-mono-800: 36 38 37;
  --uai-colors-mono-900: 24 26 25;
  --uai-colors-negative-100: 253 205 234;
  --uai-colors-negative-200: 251 156 222;
  --uai-colors-negative-300: 245 106 215;
  --uai-colors-negative-400: 235 69 214;
  --uai-colors-negative-500: 222 13 214;
  --uai-colors-negative-600: 181 9 190;
  --uai-colors-negative-700: 138 6 159;
  --uai-colors-negative-800: 100 4 128;
  --uai-colors-negative-900: 73 2 106;
  --uai-colors-primary-100: 221 247 203;
  --uai-colors-primary-200: 182 239 154;
  --uai-colors-primary-300: 125 209 97;
  --uai-colors-primary-400: 72 163 54;
  --uai-colors-primary-500: 19 103 11;
  --uai-colors-primary-600: 8 88 8;
  --uai-colors-primary-700: 5 74 10;
  --uai-colors-primary-800: 3 59 12;
  --uai-colors-primary-900: 2 49 13;
  --uai-colors-secondary-100: 251 251 251;
  --uai-colors-secondary-200: 247 248 248;
  --uai-colors-secondary-300: 233 234 235;
  --uai-colors-secondary-400: 213 214 215;
  --uai-colors-secondary-500: 187 188 189;
  --uai-colors-secondary-600: 136 148 162;
  --uai-colors-secondary-700: 94 110 136;
  --uai-colors-secondary-800: 59 77 109;
  --uai-colors-secondary-900: 35 52 90;
  --uai-colors-success-100: 225 248 209;
  --uai-colors-success-200: 191 241 165;
  --uai-colors-success-300: 139 214 113;
  --uai-colors-success-400: 89 173 71;
  --uai-colors-success-500: 35 119 26;
  --uai-colors-success-600: 20 102 19;
  --uai-colors-success-700: 13 85 17;
  --uai-colors-success-800: 8 69 17;
  --uai-colors-success-900: 4 57 16;
  --uai-colors-surface-contrast-idle: 0 0 0;
  --uai-colors-surface-contrast-soft: 24 26 25;
  --uai-colors-surface-main-brand: 221 247 203;
  --uai-colors-surface-main-critical: 253 205 234;
  --uai-colors-surface-main-disable: 215 217 216;
  --uai-colors-surface-main-focus: 208 216 252;
  --uai-colors-surface-main-idle: 255 255 255;
  --uai-colors-surface-main-secondary: 251 251 251;
  --uai-colors-surface-main-soft: 240 242 241;
  --uai-colors-surface-main-success: 225 248 209;
  --uai-colors-surface-main-warning: 255 248 204;
  --uai-colors-transparent: 255 255 3;
  --uai-colors-white: 255 255 255;
  --uai-colors-facebook-brand: 24 119 242;
  --uai-colors-facebook-hover: 12 94 202;
  --uai-colors-facebook-hover-light: 247 247 247;
  --uai-colors-facebook-light: 208 236 254;
  --uai-colors-whatsapp-brand: 37 211 102;
  --uai-colors-whatsapp-hover: 30 169 82;
  --uai-colors-whatsapp-light: 212 252 211;
  --uai-colors-twitter-brand: 27 27 27;
  --uai-colors-twitter-hover: 12 5 7;
  --uai-colors-twitter-light: 243 243 243;
  --uai-colors-google-brand: 255 255 255;
  --uai-colors-google-hover: 247 247 247;
  --uai-colors-google-text: 38 38 38;
  --uai-colors-youtube-brand: 255 0 0;
  --uai-colors-youtube-hover: 204 0 0;
  --uai-colors-youtube-text: 38 38 38;
  --uai-font-family-body-bold: var(--font-pt-sans), ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --uai-font-family-body-regular: var(--font-pt-sans), ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --uai-font-family-heading-bold: var(--font-heineken-serif-18), ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --uai-font-family-heading-regular: var(--font-heineken-serif-18), ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --uai-font-size-display: 7rem;
  --uai-font-size-giant: 5rem;
  --uai-font-size-huge: 3.5rem;
  --uai-font-size-large: 2rem;
  --uai-font-size-medium: 1.75rem;
  --uai-font-size-nano: 1rem;
  --uai-font-size-small: 1.5rem;
  --uai-font-size-xdisplay: 9.25rem;
  --uai-font-size-xgiant: 5.5rem;
  --uai-font-size-xhuge: 4rem;
  --uai-font-size-xlarge: 2.5rem;
  --uai-font-size-xnano: 0.875rem;
  --uai-font-size-xsmall: 1.25rem;
  --uai-font-size-xxgiant: 6rem;
  --uai-font-size-xxhuge: 4.5rem;
  --uai-font-size-xxlarge: 3rem;
  --uai-font-size-xxnano: 0.75rem;
  --uai-font-size-xxsmall: 1.125rem;
  --uai-font-size-xxxnano: 0.625rem;
  --uai-font-weight-body-bold: 700;
  --uai-font-weight-body-regular: 400;
  --uai-font-weight-heading-bold: Bold;
  --uai-font-weight-heading-regular: Medium;
  --uai-letter-spacing-loose: 0.00125rem;
  --uai-letter-spacing-normal: 0rem;
  --uai-letter-spacing-tight: -0.00125rem;
  --uai-letter-spacing-xloose: 0.0025rem;
  --uai-letter-spacing-xtight: -0.0025rem;
  --uai-line-height-loose: 175%;
  --uai-line-height-normal: 150%;
  --uai-line-height-tight: 120%;
  --uai-line-height-xloose: 200%;
  --uai-line-height-xtight: 100%;
  --uai-box-shadow-focus: 0rem 0rem 0rem 0.25rem #7185F180;
  --uai-box-shadow-large: 0rem 1rem 2rem 0rem #00000029;
  --uai-box-shadow-medium: 0rem 0.5rem 1.5rem 0rem #00000029;
  --uai-box-shadow-small: 0rem 0.25rem 0.5rem 0rem #00000014;
  --uai-box-shadow-xlarge: 0rem 1rem 3rem 0rem #00000029;
  --uai-drop-shadow-focus: 0rem 0rem 0rem #7185F180;
  --uai-drop-shadow-large: 0rem 1rem 2rem #00000029;
  --uai-drop-shadow-medium: 0rem 0.5rem 1.5rem #00000029;
  --uai-drop-shadow-small: 0rem 0.25rem 0.5rem #00000014;
  --uai-drop-shadow-xlarge: 0rem 1rem 3rem #00000029;
  --uai-spacing-button: 0.25rem;
  --uai-spacing-divider: 0.5rem;
  --uai-spacing-giant: 5rem;
  --uai-spacing-huge: 3rem;
  --uai-spacing-input: 0.5rem;
  --uai-spacing-large: 1.5rem;
  --uai-spacing-medium: 1rem;
  --uai-spacing-nano: 0.25rem;
  --uai-spacing-radio-checkbox: 0.5rem;
  --uai-spacing-small: 0.75rem;
  --uai-spacing-xgiant: 7.5rem;
  --uai-spacing-xhuge: 3.5rem;
  --uai-spacing-xlarge: 2rem;
  --uai-spacing-xnano: 0.125rem;
  --uai-spacing-xsmall: 0.5rem;
  --uai-spacing-xxgiant: 10rem;
  --uai-spacing-xxhuge: 4rem;
  --uai-spacing-xxlarge: 2.5rem;
  --uai-spacing-xxnano: 0.0625rem;
  --uai-spacing-xxsmall: 0.375rem;
}